body {
  font-family: Arial !important;
}

nav {
  padding: 2rem !important;
}

.nav-link:hover {
  color: #1dbf73 !important;
}

.search-bar {
  width: 40% !important;
}

.search-bar input {
  border-radius: 20px !important;
}

.search-bar button {
  border-radius: 1rem !important;
}
